<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd

In [2]:
# 채널이용
channel = pd.read_csv('../../data/채널이용.txt', encoding='cp949')
channel

       고객번호           제휴사  이용횟수
0         7  A_MOBILE/APP     4
1        14  A_MOBILE/APP     1
2        42  B_MOBILE/APP    23
3        74  A_MOBILE/APP     1
4        74  B_MOBILE/APP    30
...     ...           ...   ...
8819  19168  C_ONLINEMALL    18
8820  19291  C_ONLINEMALL     1
8821  19312  B_ONLINEMALL   137
8822  19351  C_ONLINEMALL    19
8823  19356  C_ONLINEMALL    16

[8824 rows x 3 columns]

In [3]:
channel.제휴사.value_counts()

B_MOBILE/APP    5170
A_MOBILE/APP    1435
B_ONLINEMALL    1328
C_ONLINEMALL     618
D_MOBILE/APP     227
C_MOBILE/APP      46
Name: 제휴사, dtype: int64

In [4]:
# 고객DEMO
demo = pd.read_csv('../../data/고객DEMO.txt', encoding='cp949')
demo

        고객번호 성별      연령대   거주지역
0          1  M    60세이상   60.0
1          2  M    60세이상  100.0
2          3  M    60세이상   33.0
3          4  F    60세이상   16.0
4          5  M    60세이상  100.0
...      ... ..      ...    ...
19378  19379  F  20세~24세   69.0
19379  19380  F  20세~24세   39.0
19380  19381  F  40세~44세  460.0
19381  19382  F  45세~49세  460.0
19382  19383  F  25세~29세  500.0

[19383 rows x 4 columns]

In [5]:
demo.연령대.value_counts()

45세~49세    4082
40세~44세    3677
50세~54세    3114
35세~39세    2769
55세~59세    1774
30세~34세    1679
60세이상      1303
25세~29세     685
20세~24세     283
19세이하        17
Name: 연령대, dtype: int64

In [6]:
# 상품분류
prodcl = pd.read_csv('../../data/상품분류.txt', encoding='cp949')
prodcl

     제휴사  대분류코드  중분류코드    소분류코드    중분류명      소분류명
0      A      1    101  A010101    일용잡화      위생세제
1      A      1    101  A010102    일용잡화       휴지류
2      A      1    101  A010103    일용잡화      뷰티상품
3      A      1    101  A010104    일용잡화      일용잡화
4      A      1    101  A010105    일용잡화      세트상품
...   ..    ...    ...      ...     ...       ...
4381   D      8    802  D080204  아이메이크업     아이섀도우
4382   D      8    802  D080205  아이메이크업    메이크업세트
4383   D      8    803  D080301   립메이크업  립스틱/립라이너
4384   D      8    803  D080302   립메이크업   립글로즈/틴트
4385   D      8    804  D080401  네일메이크업  일반네일/케어류

[4386 rows x 6 columns]

In [7]:
# 구매상품 TR
purprd = pd.read_csv('../../data/구매상품TR.txt', encoding='cp949')
# purprd.to_pickle('purprd.pkl')
# purprd = pd.read_pickle('purprd.pkl')
purprd

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액
0,B,8664000,15,1504,B150401,17218,44,20140222,20,2420
1,B,8664000,16,1601,B160101,17218,44,20140222,20,1070
2,B,8664000,16,1602,B160201,17218,44,20140222,20,8060
3,B,8664000,18,1803,B180301,17218,44,20140222,20,6000
4,B,8664001,5,509,B050901,17674,44,20140222,22,1120
...,...,...,...,...,...,...,...,...,...,...
28593025,B,8116737,37,3709,B370904,7439,29,20150525,19,14000
28593026,B,8116738,37,3709,B370904,16421,29,20150525,20,6500
28593027,B,8116739,8,802,B080203,8266,29,20150525,13,16000
28593028,B,8116764,90,9001,B900103,14316,29,20150526,19,1000
28593029,B,8116741,8,802,B080203,16587,29,20150525,17,16000

In [8]:
purprd_mer = pd.merge(purprd, prodcl, how='inner', on=['제휴사','대분류코드','중분류코드','소분류코드'])
purprd_mer

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액,중분류명,소분류명
0,B,8664000,15,1504,B150401,17218,44,20140222,20,2420,탄산음료,사이다
1,B,8664007,15,1504,B150401,11303,44,20140222,13,2400,탄산음료,사이다
2,B,8919520,15,1504,B150401,13210,48,20150921,19,5250,탄산음료,사이다
3,B,6956422,15,1504,B150401,13823,12,20140813,18,2250,탄산음료,사이다
4,B,6957156,15,1504,B150401,18970,12,20140831,22,4900,탄산음료,사이다
...,...,...,...,...,...,...,...,...,...,...,...,...
28593025,B,7269975,14,1415,B141503,134,16,20141130,15,8900,전통과자,온라인팥빙수재료
28593026,B,7946814,68,6802,B680209,18484,26,20141227,14,1000,여성양말,여성발가락
28593027,B,7777110,7,702,B070203,5043,21,20151012,22,4510,즉석구이안주,즉석쥐포
28593028,B,7579178,7,703,B070305,4073,18,20140125,20,8900,마른안주,온라인 안주
28593029,B,8123279,36,3607,B360704,11509,29,20150821,13,2800,시니어건강용품,침실용품

In [9]:
# purprd_mer.to_pickle('purprd_mer.pkl')
# purprd_mer = pd.read_pickle('purprd_mer.pkl')
# purprd_mer

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액,중분류명,소분류명
0,B,8664000,15,1504,B150401,17218,44,20140222,20,2420,탄산음료,사이다
1,B,8664007,15,1504,B150401,11303,44,20140222,13,2400,탄산음료,사이다
2,B,8919520,15,1504,B150401,13210,48,20150921,19,5250,탄산음료,사이다
3,B,6956422,15,1504,B150401,13823,12,20140813,18,2250,탄산음료,사이다
4,B,6957156,15,1504,B150401,18970,12,20140831,22,4900,탄산음료,사이다
...,...,...,...,...,...,...,...,...,...,...,...,...
28593025,B,7269975,14,1415,B141503,134,16,20141130,15,8900,전통과자,온라인팥빙수재료
28593026,B,7946814,68,6802,B680209,18484,26,20141227,14,1000,여성양말,여성발가락
28593027,B,7777110,7,702,B070203,5043,21,20151012,22,4510,즉석구이안주,즉석쥐포
28593028,B,7579178,7,703,B070305,4073,18,20140125,20,8900,마른안주,온라인 안주
28593029,B,8123279,36,3607,B360704,11509,29,20150821,13,2800,시니어건강용품,침실용품

In [10]:
purprd_mer[purprd_mer.제휴사=='D'].소분류명.unique()

array(['쿠키', '페이셜팩류', '기타레토르트', '생수', '차량용방향/제취제', '메이크업세트', '일반두유',
       '하드캔디', '비타민/에너지음료', '과채혼합음료', '염모제', '치약', '일반스낵', '혼합탄산', '장우산',
       '채소음료', '스타킹', '풋케어', '과일음료', '커피음료', '메탈미용소도구', '생리대', '탄산수',
       '칫솔', '일반차음료', '미용거울', '미용보조식품', '판초콜릿', '남성용면도기/날', '콜라', '방향제',
       '페이셜클렌저', '파이', '속눈썹/쌍꺼풀', '마스카라', '아이브로우', '크림/밤/오일', '스폰지/퍼프',
       '면봉/화장솜', '립스틱/립라이너', '스킨케어세트', '아이케어', '바디보습', '기타구강관리용품',
       '팬티라이너', '아이스티', '헤어에센스', '선크림류', '기타피트니스기구', '일반비타민', '디퓨저',
       '미스트', '허브/꽃차', '여성헤어액세서리', '물티슈', '샴푸', '녹차/홍차', '립글로즈/틴트',
       '기타파티/팬시용품', '구강청정제', '종합영양제', '네일케어도구', '남성향수', '일반네일/케어류',
       '기타기능성음료', '렌즈관리용품', '핸드로션/크림', '린스/컨디셔너', '다이어트보조식품', '제모용품',
       '안전상비의약외품', '여성향수', '여성세정제', '헤어스프레이', '건강보조식품세트', '핸드워시/손세정제',
       '일반껌', '기름종이', '이어폰/헤드폰', '남성용스킨케어류', '기타영양제', '트리트먼트/팩', '아이라이너',
       '건전지', '손난로/핫팩', '에센스/세럼', '스킨/토너', '헤어드라이어', '밴드류', '바디워시',
       '메이크업브러쉬', '운동보조식품', '건강마스크', '여행용소품', '전동칫솔/칫솔모', '전통/한방차',
       '남성스킨케어세트', '에멀젼/로션', '각티슈/미용티슈', '전통차음료', '롤티슈', '기타견과류',
       '바디슬리밍/리프팅', '아이섀도우', 'BB/파운데이션/컴팩트류', '향초', '태닝/애프터선케어', '쉐이빙폼/젤',
       '남성용선크림/메이크업류', '유아용화장품', '블러셔/쉐이딩/하이라이터', '스포츠음료', '웨이트기구', '탐폰',
       '여성덧신류', '믹스커피', '일반시리얼', '바디케어세트', '치약/칫솔세트', '데오도란트', '숙취해소음료',
       '코코아', '헤어세팅기', '헤어왁스', '메이크업베이스/프라이머', '온/냉찜질용품', '콘돔', '식수용차',
       '제습제', '기저귀크림/파우더', '풋케어도구', '유아목욕용품', '여성타이즈', '남성용클렌저', '한방음료',
       '유아용샴푸/바디워시', '입욕제/스파제품', '보안용품', '기타건강측정용품', '헤어무스/젤', '즉석스프',
       '바아이스크림', '우비', '클래식면도용품', '컵아이스크림'], dtype=object)

In [11]:
purprd_mer.제휴사.value_counts()

B    13338074
C     9379236
A     5770318
D      105402
Name: 제휴사, dtype: int64

In [12]:
purprd_b = purprd_mer[purprd_mer.제휴사=='B']
purprd_b

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액,중분류명,소분류명
0,B,8664000,15,1504,B150401,17218,44,20140222,20,2420,탄산음료,사이다
1,B,8664007,15,1504,B150401,11303,44,20140222,13,2400,탄산음료,사이다
2,B,8919520,15,1504,B150401,13210,48,20150921,19,5250,탄산음료,사이다
3,B,6956422,15,1504,B150401,13823,12,20140813,18,2250,탄산음료,사이다
4,B,6957156,15,1504,B150401,18970,12,20140831,22,4900,탄산음료,사이다
...,...,...,...,...,...,...,...,...,...,...,...,...
28593025,B,7269975,14,1415,B141503,134,16,20141130,15,8900,전통과자,온라인팥빙수재료
28593026,B,7946814,68,6802,B680209,18484,26,20141227,14,1000,여성양말,여성발가락
28593027,B,7777110,7,702,B070203,5043,21,20151012,22,4510,즉석구이안주,즉석쥐포
28593028,B,7579178,7,703,B070305,4073,18,20140125,20,8900,마른안주,온라인 안주
28593029,B,8123279,36,3607,B360704,11509,29,20150821,13,2800,시니어건강용품,침실용품

In [13]:
purprd_b.중분류명.unique()

array(['탄산음료', '소주', '맥주', '생리대', '친환경채소', '생수', '흰우유', '어묵맛살', '간편조리생선',
       '버섯류', '해조류', '유제품', '면류', '통조림', '수예시즌', '빵', '샐러드채소', '우육',
       '과채과일', '오피스용품', '가공우유', '커피차음료', '바디용품', '닭고기', '라면', '세탁세제',
       '콩나물', '두부', '냉동만두', '과실과일', '친환경과일', '반찬류', '양념류', '요구르트', '스낵',
       '비스켓', '초콜릿', '야외용품', '주방시즌/균일가', '과채음료', '간편채소', '냉동간식', '수입기타과일',
       '피자', '즉석도정미', '열매채소', '단무지류', '식용유지', '포도/체리', '커피', '주거세제', '와인',
       '뿌리채소', '캔디', '껌', '베이커리', '잡곡', '종량제봉투', '키위', '남성양말', '덧신',
       '양념채소', '두유', '밥류', '튀김조리', '양념육', '햄소시지', '열대과일', '건강식품', '대중선어',
       '청소용품', '특산물', '건과', '선식', '간편요리', '잎채소', '김치채소', '일반한우', '포도',
       '메론', '바나나', '미역/다시마', '구색과일', '균일가', '사과', '고등어/삼치', '김/초밥',
       '냉장식사HMR', '조미오징어', '소스류', '포장반찬', '브랜드돼지고기', '마른김', '계란', '분유',
       '유아위생용품', 'H&B선물세트', '복숭아', '조미김', '란제리', '조리용기', '국산게/갈치', '장류',
       '냉장음료', '파이', '간식', '기초화장품', '건전지', '색조화장품', '시티캐주얼', '여성캐주얼브랜드',
       '이지캐주얼브랜드', '오렌지', '수입돼지고기', '물티슈', '주방정리', '차별화돼지고기', '전통과자',
       '푸드코트', '편의시설', '버섯', '수입과자', '딸기', '생선회', '수입조미', '묵/즉석참기름',
       '미술용품', '햄', '브랜드빵', '치즈', '유가공', '떡', '액상조미료', '꿀', '토마토', '수납용품',
       '튀김', '소금/설탕류', '차', '화장지', '예능학용품', '간편조리식품', '냉장면류', '전통주',
       '남성스포츠PB', '파티/팬시/시즌', '욕실용품', '키위/석류', '스포츠NB', '구강용품', '조개',
       '조개살', '냉장반찬', '냉동과일', '샐러드/간편채소', '음식저장/보관', '여성위생용품', '아이스크림',
       '필기도구', '수박', '가루', '애견용품', '감귤', '체리', '바디케어', '해물연체류', '잡곡류',
       '간편조리', '남성행사', '즉석참기름', '수입감귤과일', '소시지', '냉동HMR', '김가공품', '새우',
       '수입갈치', '드레스화브랜드', '특산물행사', '모자', '시즌잡화', '비즈니스정장', '수예소품', '커튼류',
       '브랜드침구', '아동복합샵', '드럭스토어', '유아브랜드', '아동브랜드', '성인침구', '기능성음료',
       '기능헤어케어', '돼지고기', '시리얼', '노트/지류', '음식조리', '주방세제', '묵', '이온음료',
       '오렌지과일기타', '파인애플', '조리도구', '일반욕실용품', '가공란', '나물', '수입포도', '기능성건강',
       '야외/시즌용품', '중식', '한식', '양식', '안주', '면도용품', '수입기타생선', '시즌행사',
       '파티/팬시', '배', '보수용품', '섬유유연제', '아동내의', '조리반찬', '인스턴트커피', '원두커피',
       '탈취제', '냉장간편식HMR', '건오징어', '쥐치포', '홍인삼', '조미선물세트', '시즌차', '커피선물세트',
       '브랜드', '수입고등어', '미입점행사', '레스토랑', '김선물세트', '오리고기', '간편조리행사',
       '호주산소고기', '구이', '꽁치/가자미', '디저트', '프리미엄과자', '복합조미료', '스트리트편집샵',
       '멸치', '전구', '맛집행사', '훼이셜케어', '아동슈즈', '미용소품', '미국산소고기', '먹거리행사',
       '규격RTC', 'LOCAL김치채소', '수입육', '샌들슬리퍼', '냉동대용식', '여성양말', '간식용과자',
       '조미료', '멸치건명태', '스포츠웨어', '운동화', '족발', '마른안주', '헤어스타일링', '오징어',
       '자두', '여성이지캐주얼', '캐주얼화브랜드', '밥죽류', 'EDUCATION 1', 'LOCAL잎채소',
       '고양이용품', '자몽', '잼', 'BOYS 1', '서적', '수족관용품', '도시락', '국산과일선물세트',
       '종합과자', '교육보조재', '유아식기', '육가공품', '향신료', '가공양곡', '수도용품', '브랜드한우',
       '즉석구이김', '그릇/수저', '참외', '기저귀', '육포', '한방식재류', '밤', '수입연어', '교육',
       '냉동수산물', '양곡', 'BABY/INFANT', 'GIRLS', '유/아동서적', '생활한방', '액세서리',
       '젓갈류', '김치류', '개인위생용품', '감', '아동침구', '동물병원', '남성용품', '냉동규격해물',
       '냉장규격생선', '미용티슈', '소가구', '풋/핸드케어', '표백제', '기타구색생선', '자동차 편의용품',
       '해초류', '담배', '간식조리', '먹거리', '반건생선', '키친타올', '베이비케어', '안전용품',
       '아동양말', '스포츠슈즈', '패브릭욕실용품', 'Fast Food', '가방', '레몬', '블루베리', '아로마',
       '교환/보수용품', '열대과일기타', '복합샵', '성인내의', '잡화멀티샵', '판매시설',
       'SPORTS/OUTDOOR', 'BOYS 2', 'EDUCATION 2', '홈웨어', '자동차 정비용품',
       '자동차 액세서리', '구이찜조리', '한과', '장식용품', '일식', '전통간식', '일반헤어케어', '유아용품',
       '스킨케어', '스타킹', '라켓스포츠', '이유식/유아간식', '양말선물세트', '인스턴트선물세트', '우산/양산',
       '자동차방향제/소취제', '유아동PB', '여성PB', '성인침구류', '세차용품', '란제리브랜드', '준보석',
       '헬스용품', '포장젓갈', '화장품브랜드샵', '자동차 청소용품', '카시트/매트', '조명/전구',
       '애완/동물용품', '아동침구류', '국내화장품', '황태', '노트', '청소편의도구', '가구', '카페',
       '수입음료', '기타회', '살충제', '제습제', '언더웨어행사', '미시캐주얼', '컨세션', '비타민', '대구',
       '유아토들러', '굴비', '구기용품', '선물세트', '즉석구이안주', '석류', '공구', '한방차',
       '스포츠ACC', 'NB구두', '해초', '연체', '남성브랜드', '슈즈용품', '슈즈행사', '밀대/걸레',
       '조명기구', '반찬', '전기용품', '시즌슈즈', '양주', '망고', '행사', '미용잡화', '피혁토탈',
       '브랜드푸드몰', '유아동용품', '세탁용품', '식자재', '피혁브랜드', '양말', '등산', '가구/인테리어샵',
       '주니어양말', '자동차장식용품', '냉동규격생선', '휴대폰용품', '원예용품', '남성이지캐주얼', '수입게',
       '수영복', '시계', '분식', '덴탈케어', '컴퓨터주변기기', '대용식', '밥솥', '남아', '조기/명태',
       '주니어스포츠', '주니어웨어', '음반영상', '생선초밥', '시니어위생용품', '가방브랜드', '시니어건강용품',
       'VIDEOGAME', '캐주얼슈즈', '장착용품', 'TRAVEL', '건강가전', '순대', '유아세제',
       '일반서적', '생활소형가전', '남성베이직', '시즌/건강가전', '남성스포츠', '휴지통', '의자', '매트',
       '전기요/장판', '이동통신', '시즌반찬', '장갑', '천연조미료', '워터스포츠', '냉동가공', '여성베이직',
       '오렌지과일선물세트', '벽지류', '영상', '건강선물세트', '캠핑', '윈터스포츠', '롤러보드',
       '멸치황태미역선물세트', '도미/민어', '한우선물세트', '남성시즌행사', '포장반찬HMR', '스포츠의류',
       '아동화브랜드', '스카프', '남성구두', '청소기', '아동행사', '남성어덜트캐주얼', '기타국소고기',
       '의자/상', '지갑/벨트', '상', '약초', '수입브랜드', '이벤트조리', '유아동특정', '음반', '스키',
       '프리미엄매트', '패스트푸드', '자전거', '마담/어덜트', '골프', '썬글라스', 'DIY욕실용품',
       '여성NPB', '제기용품', '여성특정', '기타음향기기', '생선선물세트', '유아동NPB', '핸드백',
       '차선물세트', '벨트', '시즌토탈', '수입육선물세트', '전기포트', '믹서기', '병행수입',
       'NAVI/하이패스', '데일리처분', '남성스포츠특정', '여성구두', '굴비/반건생선선물세트', '남성스포츠NPB',
       '냉장햄세트', '기타주방가전', 'TV', '세탁기', '주방가전', '마른안주선물세트', '조리기',
       '열대과일선물세트', '오디오', '낚시', '전화기/팩스', '가습기', '히터기', '커피메이커/머신',
       '규격생선선물세트', '테이블', 'PC', '지갑', '카메라/캠코더', '아웃도어퍼니처', '여행용품',
       '브랜드조리', '김치냉장고', 'MP3/PMP', '공기청정기', '해물선물세트', '냉장고', '선풍기',
       '에어컨', '전기면도기', '주유소', 'DVD', '건강디지털기기', '온라인양말', '온라인규격/간편조리생선',
       '전자학습기', '자동차처분', '스포츠브랜드편집', '전자악기', '홈시어터', '소형음향기기', '주방소형가전',
       '오토바이용품', '온라인화장품', '온라인잎/샐러드채소', '온라인양념/뿌리채소', '온라인잡곡선식',
       '온라인버섯/열매채소', '온라인해물연체', '정수기', '온라인저장과일', '온라인돼지고기'], dtype=object)

In [14]:
cla = pd.read_csv('../../data/분류.txt', encoding='cp949')
cla

            CAT CATEGORY TYPE
0       A01가공식품       식품  일용품
1       A01건강식품       식품  선매품
2         A01기타      멀티샵  일용품
3        A01농산물       식품  일용품
4        A01수산품       식품  일용품
..          ...      ...  ...
801       D07여성      이미용  일용품
802   D08네일메이크업      이미용  일용품
803    D08립메이크업      이미용  일용품
804  D08베이스메이크업      이미용  일용품
805   D08아이메이크업      이미용  일용품

[806 rows x 3 columns]

In [15]:
clal = pd.read_csv('../../data/분류로직.csv', encoding='cp949')
clal

            CAT CATEGORY  UPRICE      QTY    AVG   AVGVS  LEV
0       A01가공식품       식품   14650  1260715   7926      1.8  중가
1       A01건강식품       식품  139926    53366   7926     17.7  고가
2         A01기타      멀티샵   96379      649  96379      1.0  중가
3        A01농산물       식품   15090   820228   7926      1.9  중가
4        A01수산품       식품   30602   199657   7926      3.9  고가
..          ...      ...     ...      ...    ...      ...  ..
801       D07여성      이미용   48304      400  54507      0.9  중가
802   D08네일메이크업      이미용   10981      824  54507      0.2  저가
803    D08립메이크업      이미용   17839     1925  54507      0.3  저가
804  D08베이스메이크업      이미용   25196     1371  54507      0.5  저가
805   D08아이메이크업      이미용   15125     3587  54507      0.3  저가

[806 rows x 7 columns]

In [16]:
# 멤버심 여부
member = pd.read_csv('../../data/멤버십여부.txt', encoding='cp949')
member

       고객번호  멤버십명    가입년월
0        11  하이마트  201512
1        21  하이마트  201506
2        37  하이마트  201306
3        43  하이마트  201403
4        44  하이마트  201411
...     ...   ...     ...
7451  19377    롭스  201411
7452  19379    롭스  201412
7453  19380    롭스  201412
7454  19381   다둥이  201506
7455  19383    롭스  201507

[7456 rows x 3 columns]

In [17]:
# 경쟁사이용
competitor = pd.read_csv('../../data/경쟁사이용.txt', encoding='cp949')
competitor

        고객번호 제휴사  경쟁사    이용년월
0          2   D  D02  201507
1         51   D  D01  201504
2         77   D  D02  201503
3         77   D  D02  201506
4         77   D  D02  201507
...      ...  ..  ...     ...
28154  19375   B  B01  201501
28155  19375   B  B01  201507
28156  19375   C  C03  201511
28157  19376   B  B01  201506
28158  19377   B  B01  201504

[28159 rows x 4 columns]

In [19]:
# 분류
clf = pd.read_csv('../../data/분류.txt', encoding='cp949')
clf

            CAT CATEGORY TYPE
0       A01가공식품       식품  일용품
1       A01건강식품       식품  선매품
2         A01기타      멀티샵  일용품
3        A01농산물       식품  일용품
4        A01수산품       식품  일용품
..          ...      ...  ...
801       D07여성      이미용  일용품
802   D08네일메이크업      이미용  일용품
803    D08립메이크업      이미용  일용품
804  D08베이스메이크업      이미용  일용품
805   D08아이메이크업      이미용  일용품

[806 rows x 3 columns]

In [22]:
# 분류로직
clfl = pd.read_csv('../../data/분류로직.csv', encoding='cp949')
clfl

            CAT CATEGORY  UPRICE      QTY    AVG   AVGVS  LEV
0       A01가공식품       식품   14650  1260715   7926      1.8  중가
1       A01건강식품       식품  139926    53366   7926     17.7  고가
2         A01기타      멀티샵   96379      649  96379      1.0  중가
3        A01농산물       식품   15090   820228   7926      1.9  중가
4        A01수산품       식품   30602   199657   7926      3.9  고가
..          ...      ...     ...      ...    ...      ...  ..
801       D07여성      이미용   48304      400  54507      0.9  중가
802   D08네일메이크업      이미용   10981      824  54507      0.2  저가
803    D08립메이크업      이미용   17839     1925  54507      0.3  저가
804  D08베이스메이크업      이미용   25196     1371  54507      0.5  저가
805   D08아이메이크업      이미용   15125     3587  54507      0.3  저가

[806 rows x 7 columns]

In [60]:
import re

In [59]:
clfl.CAT.str.contains(r'(A)')

C:\Users\SANGYUN\AppData\Local\Temp\ipykernel_10432\1969807128.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  clfl.CAT.str.contains(r'(A)')

0       True
1       True
2       True
3       True
4       True
       ...
801    False
802    False
803    False
804    False
805    False
Name: CAT, Length: 806, dtype: bool

In [31]:
clfl.columns

Index(['CAT', 'CATEGORY', 'UPRICE', 'QTY', 'AVG', ' AVGVS ', 'LEV'], dtype='object')

In [24]:
import pandas as pd

In [39]:
clfl[' AVGVS '].describe()

count    806.000000
mean       1.427295
std        3.280585
min        0.000000
25%        0.300000
50%        0.700000
75%        1.200000
max       42.000000
Name:  AVGVS , dtype: float64