## 전처리 데이터 읽기

In [1]:
from matplotlib import rc
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import os
import pickle

import warnings
warnings.filterwarnings('ignore')


rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False
# 경쟁사이용
competitor = pd.read_csv('../../data/경쟁사이용.txt', encoding='cp949')
display(competitor)
# 고객DEMO
pp_demo = pd.read_pickle("../../DATA_preprocessed/pp_demo.pickle")
display(pp_demo)
# 멤버심 여부
member = pd.read_csv('../../data/멤버십여부.txt', encoding='cp949')
display(member)
# 채널이용
channel = pd.read_csv('../../data/채널이용.txt', encoding='cp949')
display(channel)

# 상금 거래 관련
pp_purprd_prodcl = pd.read_pickle('../../DATA_preprocessed/pp_purprd_prodcl.pickle')
pp_purprd_prodcl

        고객번호 제휴사  경쟁사    이용년월
0          2   D  D02  201507
1         51   D  D01  201504
2         77   D  D02  201503
3         77   D  D02  201506
4         77   D  D02  201507
...      ...  ..  ...     ...
28154  19375   B  B01  201501
28155  19375   B  B01  201507
28156  19375   C  C03  201511
28157  19376   B  B01  201506
28158  19377   B  B01  201504

[28159 rows x 4 columns]

        고객번호 성별      연령대       거주지역
0          1  M    60세이상  서울특별시 강남구
1          2  M    60세이상        경기도
2          3  M    60세이상  서울특별시 은평구
3          4  F    60세이상  서울특별시 노원구
4          5  M    60세이상        경기도
...      ... ..      ...        ...
19378  19379  F  20세~24세  서울특별시 동작구
19379  19380  F  20세~24세  서울특별시 마포구
19380  19381  F  40세~44세      부산광역시
19381  19382  F  45세~49세      부산광역시
19382  19383  F  25세~29세       경상남도

[19383 rows x 4 columns]

       고객번호  멤버십명    가입년월
0        11  하이마트  201512
1        21  하이마트  201506
2        37  하이마트  201306
3        43  하이마트  201403
4        44  하이마트  201411
...     ...   ...     ...
7451  19377    롭스  201411
7452  19379    롭스  201412
7453  19380    롭스  201412
7454  19381   다둥이  201506
7455  19383    롭스  201507

[7456 rows x 3 columns]

       고객번호           제휴사  이용횟수
0         7  A_MOBILE/APP     4
1        14  A_MOBILE/APP     1
2        42  B_MOBILE/APP    23
3        74  A_MOBILE/APP     1
4        74  B_MOBILE/APP    30
...     ...           ...   ...
8819  19168  C_ONLINEMALL    18
8820  19291  C_ONLINEMALL     1
8821  19312  B_ONLINEMALL   137
8822  19351  C_ONLINEMALL    19
8823  19356  C_ONLINEMALL    16

[8824 rows x 3 columns]

,고객번호,제휴사,영수증번호,점포코드,구매_연,구매_월,구매_일,구매시간,소분류코드,구매금액,대분류명,대중분류명,중분류명,제휴사_중분류명,소분류명,TYPE,lev
0,1,A,1182697,12,2014,1,8,14,A010302,4800,식품,유제품,축산가공,A축산가공,유제품,편의품,중가
1,1,A,1239229,12,2014,1,18,15,A010302,3500,식품,유제품,축산가공,A축산가공,유제품,편의품,중가
2,1,A,1307657,12,2014,1,30,11,A010302,3900,식품,유제품,축산가공,A축산가공,유제품,편의품,중가
3,1,A,1402358,12,2014,2,18,16,A010302,3500,식품,유제품,축산가공,A축산가공,유제품,편의품,중가
4,1,A,1456379,12,2014,2,28,15,A010302,3500,식품,유제품,축산가공,A축산가공,유제품,편의품,중가
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28437049,18697,C,631324,29,2014,5,30,21,C060405,2300,식품,즉석식품,베이커리,C베이커리,페스츄리류,편의품,중가
28437050,18697,C,631629,29,2014,7,20,15,C060405,2300,식품,즉석식품,베이커리,C베이커리,페스츄리류,편의품,중가
28437051,18710,C,1073027,75,2015,1,22,12,C030312,7990,식품,채소류,근채류,C근채류,기타한방약재,편의품,고가
28437052,18710,C,1073138,75,2015,1,29,21,C030312,7990,식품,채소류,근채류,C근채류,기타한방약재,편의품,고가
28437053,19364,D,209812,13,2015,7,11,21,D040112,10500,식품,공산식품,과자,D과자,컵아이스크림,편의품,중가

In [2]:
pp_purprd_prodcl.head()

,고객번호,제휴사,영수증번호,점포코드,구매_연,구매_월,구매_일,구매시간,소분류코드,구매금액,대분류명,대중분류명,중분류명,제휴사_중분류명,소분류명,TYPE,lev
0,1,A,1182697,12,2014,1,8,14,A010302,4800,식품,유제품,축산가공,A축산가공,유제품,편의품,중가
1,1,A,1239229,12,2014,1,18,15,A010302,3500,식품,유제품,축산가공,A축산가공,유제품,편의품,중가
2,1,A,1307657,12,2014,1,30,11,A010302,3900,식품,유제품,축산가공,A축산가공,유제품,편의품,중가
3,1,A,1402358,12,2014,2,18,16,A010302,3500,식품,유제품,축산가공,A축산가공,유제품,편의품,중가
4,1,A,1456379,12,2014,2,28,15,A010302,3500,식품,유제품,축산가공,A축산가공,유제품,편의품,중가

In [5]:
pp_purprd_prodcl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28437054 entries, 0 to 28437053
Data columns (total 17 columns):
 #   Column    Dtype
---  ------    -----
 0   고객번호      int64
 1   제휴사       object
 2   영수증번호     int64
 3   점포코드      int64
 4   구매_연      int64
 5   구매_월      int64
 6   구매_일      int64
 7   구매시간      int64
 8   소분류코드     object
 9   구매금액      int64
 10  대분류명      object
 11  대중분류명     object
 12  중분류명      object
 13  제휴사_중분류명  object
 14  소분류명      object
 15  TYPE      object
 16  lev       object
dtypes: int64(8), object(9)
memory usage: 3.8+ GB

## 반기 나누기

In [12]:
def find_season(df):
    if (df['구매_연']==2014)&(df['구매_월']<7):
        return '2014_1'
    elif (df['구매_연']==2014)&(df['구매_월']>=7):
        return '2014_2'
    elif (df['구매_연']==2015)&(df['구매_월']<7):
        return '2015_1'
    else:
        return '2015_2'

In [16]:
# pp_purprd_prodcl['반기']=pp_purprd_prodcl.apply(find_season)

In [22]:
# 반기로 데이터 짜르기
cond_2014_1 =(pp_purprd_prodcl['구매_연']==2014)&(pp_purprd_prodcl['구매_월']<7)
cond_2014_2 =(pp_purprd_prodcl['구매_연']==2014)&(pp_purprd_prodcl['구매_월']>=7)
cond_2015_1 =(pp_purprd_prodcl['구매_연']==2015)&(pp_purprd_prodcl['구매_월']<7)
cond_2015_2 =(pp_purprd_prodcl['구매_연']==2015)&(pp_purprd_prodcl['구매_월']>=7)

pp_purprd_prodcl['반기']=0

pp_purprd_prodcl.loc[cond_2014_1,'반기']='2014_1'
pp_purprd_prodcl.loc[cond_2014_2,'반기']='2014_2'
pp_purprd_prodcl.loc[cond_2015_1,'반기']='2015_1'
pp_purprd_prodcl.loc[cond_2015_2,'반기']='2015_2'

In [27]:
pp_purprd_prodcl.head()

,고객번호,제휴사,영수증번호,점포코드,구매_연,구매_월,구매_일,구매시간,소분류코드,구매금액,대분류명,대중분류명,중분류명,제휴사_중분류명,소분류명,TYPE,lev,반기
0,1,A,1182697,12,2014,1,8,14,A010302,4800,식품,유제품,축산가공,A축산가공,유제품,편의품,중가,2014_1
1,1,A,1239229,12,2014,1,18,15,A010302,3500,식품,유제품,축산가공,A축산가공,유제품,편의품,중가,2014_1
2,1,A,1307657,12,2014,1,30,11,A010302,3900,식품,유제품,축산가공,A축산가공,유제품,편의품,중가,2014_1
3,1,A,1402358,12,2014,2,18,16,A010302,3500,식품,유제품,축산가공,A축산가공,유제품,편의품,중가,2014_1
4,1,A,1456379,12,2014,2,28,15,A010302,3500,식품,유제품,축산가공,A축산가공,유제품,편의품,중가,2014_1

In [47]:
pp_pv = pp_purprd_prodcl.pivot_table(index=['고객번호','TYPE'],columns='반기',values='구매금액',aggfunc=(np.mean,'count'),fill_value=0)
pp_pv=pp_pv.reset_index()
pp_pv

        고객번호 TYPE  count                                mean                 \
반기                2014_1 2014_2 2015_1 2015_2         2014_1         2014_2
0          1  선매품     45     44     50     47  193173.111111  369333.863636
1          1  전문품      2      3      3      2  446025.000000  114533.333333
2          1  편의품    191    309    259    102   54138.821990   56705.572816
3          2  선매품     34     25     31     28  197656.470588  194082.400000
4          2  전문품      5      3      9      1  287848.000000  355516.666667
...      ...  ...    ...    ...    ...    ...            ...            ...
49908  19381  편의품      0      0    365    432       0.000000       0.000000
49909  19382  선매품      0      0      5      0       0.000000       0.000000
49910  19382  편의품      0      0    393    508       0.000000       0.000000
49911  19383  선매품      0      0      0     12       0.000000       0.000000
49912  19383  편의품      0      0      5    243       0.000000       0.000000


반기            2015_1         2015_2
0      175986.400000  191122.127660
1      318900.000000  277450.000000
2       31437.625483   34949.784314
3      178942.258065  266596.071429
4      588998.888889   78000.000000
...              ...            ...
49908    6664.304110    7436.337963
49909   31360.000000       0.000000
49910    4249.208651    5068.964567
49911       0.000000   75633.333333
49912    5400.000000    5966.255144

[49913 rows x 10 columns]

## 방문 - 제휴사별 변동지수 만들기

In [258]:
# 변동지수 산출하는 사용자 정의 함수 생성

def make_variable_index(option): 
    # 방문 - 제휴사별 변동지수 만들기
    pp_pv = pp_purprd_prodcl.pivot_table(index=['고객번호','제휴사'],columns='반기',values='구매금액',aggfunc=(f'{option}'),fill_value=0)
    # pp_pv=pp_pv.reset_index()

    pp_pv[f'{option}_변동지수'] = ((pp_pv['2014_2']-pp_pv['2014_1']) + (pp_pv['2015_1']-pp_pv['2014_2'])*1.5\
                        + (pp_pv['2015_2']-pp_pv['2015_1'])*2)/(np.mean(pp_pv['2014_1']+pp_pv['2014_2']+pp_pv['2015_1']+pp_pv['2015_2']))
    pp_pv_=pp_pv[f'{option}_변동지수'].unstack().reset_index()
    pp_demo_map = pd.merge(pp_demo,pp_pv_,on='고객번호')

    lev_dict = {}
    for i in ['A','B','C','D']:
        instance = pp_demo_map[i]
        instance = instance.dropna()
        lev_list=[]
        for j in [15,35,65,85]:
            lev_list.append(np.percentile(instance,j))
        lev_dict[i] = lev_list

    def make_lev(x,y):
        if x > lev_dict[y][3]:
            return 5
        elif x > lev_dict[y][2]:
            return 4
        elif x > lev_dict[y][1]:
            return 3
        elif x > lev_dict[y][0]:
            return 2
        else:
            return 1

    pp_demo_map[f'{option}_등급_A'] = pp_demo_map.apply(lambda row: make_visit_lev(row['A'],'A'),axis=1)
    pp_demo_map[f'{option}_등급_B'] = pp_demo_map.apply(lambda row: make_visit_lev(row['B'],'B'),axis=1)
    pp_demo_map[f'{option}_등급_C'] = pp_demo_map.apply(lambda row: make_visit_lev(row['C'],'C'),axis=1)
    pp_demo_map[f'{option}_등급_D'] = pp_demo_map.apply(lambda row: make_visit_lev(row['D'],'D'),axis=1)
    pp_demo_map[f'최종{option}_점수'] = pp_demo_map.iloc[:,-4:].sum(axis=1)
    pp_demo_map=pp_demo_map[['고객번호','성별','연령대','거주지역',f'최종{option}_점수']]
    # display(sns.histplot(pp_demo_map[f'최종{option}_점수']))
    return pp_demo_map

In [252]:
df_cnt=make_variable_index('count')

## 평균 소비액 - 제휴사별 변동지수 만들기

In [253]:
df_mean=make_variable_index('mean')

## 총 소비액 - 제휴사별 변동지수 만들기

In [256]:
df_sum=make_variable_index('sum')

In [259]:
df = pd.merge(df_cnt,df_mean)
df = pd.merge(df,df_sum)

df

        고객번호 성별      연령대       거주지역  최종count_점수  최종mean_점수  최종sum_점수
0          1  M    60세이상  서울특별시 강남구           7         10         7
1          2  M    60세이상        경기도           8         12        12
2          3  M    60세이상  서울특별시 은평구           8          9         9
3          4  F    60세이상  서울특별시 노원구           8         11         9
4          5  M    60세이상        경기도           8         13         8
...      ... ..      ...        ...         ...        ...       ...
19378  19379  F  20세~24세  서울특별시 동작구          14         17        16
19379  19380  F  20세~24세  서울특별시 마포구          16         13        15
19380  19381  F  40세~44세      부산광역시          13         10        12
19381  19382  F  45세~49세      부산광역시          13         10        12
19382  19383  F  25세~29세       경상남도          17         18        16

[19383 rows x 7 columns]